<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="header">
    <div>Here is login <a href="{% url 'login' %}">page</a></div>
    <div>Here is logout <a href="{% url 'logout' %}">page</a></div>
    <div>Here is signup <a href="{% url 'signup' %}">page</a></div>
    <a href="{% url 'homePage' %}">Home page</a>
    <a href="{% url 'menu_item_list' %}">Menu</a>
    <a href="{% url 'ingredient_list' %}">Ingredient list</a>
    <a href="{% url 'recipe_requirement_list' %}">Recipes</a>
    <a href="{% url 'purchase_list' %}">Purchases</a>
    <a href="{% url 'analytics' %}">Analytics</a>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>