{% extends './base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'menu/style.css' %}">
{% endblock %}
{% block content %}
<h2>Menu</h2>
<a href="{% url 'purchase_create' %}"><button class="btn">Add Purchase</button></a>
<table id="purchases">
  <tr>
    <th>Item</th>
      <th>Date</th>
  </tr>
	<tr>
  {% for purchase in object_list %}
  </tr>
  <tr>
      <td>{{ purchase }}</td>
      <td>{{ purchase.timestamp }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
