{% extends './base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'menu/style.css' %}">
{% endblock %}
{% block content %}
<h2>Recipes List</h2>
<a href="{% url 'recipe_requirement_create' %}"><button class="btn">Add Recipe</button></a>
<table id="recipe_requirements">
  <tr>
    <th>Recipe Name</th>
    <th>Ingredient</th>
    <th>Quantity</th>
      <th> </th>
      <th> </th>
  </tr>
	<tr>
  {% for recipeRequirement in object_list %}
  </tr>
  <tr>
      <td>{{ recipeRequirement.menuItem }}</td>
      <td>{{ recipeRequirement.ingredient }}</td>
      <td>{{ recipeRequirement.quantity }}</td>
      <td><a href="{% url 'recipe_requirement_update' recipeRequirement.id %}"><button>Edit</button></a></td>
      <td><a href="{% url 'recipe_requirement_delete' recipeRequirement.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
